<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="box">
                <h4>Subir o editar productos</h4><br>
                <div *ngIf="btnAgregar; then agregar else editar"></div>
                <ng-template #agregar>
                    <form class="item" #formularioAgregar="ngForm" (ngSubmit)="formularioAgregar.form.valid && onGuardarProducto() ; formularioAgregar.reset()">
                        <input type="text" name="titulo" placeholder="Titulo" [(ngModel)]="tituloInput" required/>
                        <textarea name="descripcion" placeholder="Descripcion" [(ngModel)]="descripcionInput" required cols="18" style="margin-bottom: 15px;">
                        </textarea>
                        <input type="number" name="precio" placeholder="Precio" [(ngModel)]="precioInput" required/>
                        <progress value=0 max="100" id="uploader" [hidden]="barra"></progress><br>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="archivo" (change)="onGuardarImagen($event)">
                            <label class="custom-file-label" for="customFile">Escoja el archivo</label>
                            <label>{{imagen}}</label>
                        </div>
                        <br>
                        <br>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>
                </ng-template>
                <ng-template #editar>
                    <form class="item" #formularioEditar="ngForm" (ngSubmit)="formularioEditar.form.valid && onEditarProducto(indexInput); formularioEditar.reset();">
                        <input type="number" name="indexInput" [(ngModel)]="indexInput" hidden>
                        <input type="text" name="titulo" placeholder="Titulo" [(ngModel)]="tituloInput" required/>
                        <textarea name="descripcion" placeholder="Descripcion" [(ngModel)]="descripcionInput" required cols="18" style="margin-bottom: 15px;">
                        </textarea>
                        <input type="number" name="precio" placeholder="Precio" [(ngModel)]="precioInput" required/>
                        <progress value=0 max="100" id="uploader" [hidden]="barra"></progress><br>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="archivo" (change)="onGuardarImagen($event)">
                            <label class="custom-file-label" for="customFile">Escoja el archivo</label>
                            <label>{{imagen}}</label>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Editar</button>
                        <button class="btn btn-danger" style="margin-left: 10px;" (click)="btnAgregar=true;formularioEditar.reset();">Cancelar</button>
                    </form>

                </ng-template>
            </div>
        </div>
        <div class="col-8">
            <h4>Productos subidos</h4>
            <div class="row">
                <div class="col-3">
                    <h5>Titulo</h5>
                </div>
                <div class="col-4">
                    <h5>Descripcion</h5>
                </div>
                <div class="col-2">
                    <h5>Precio</h5>
                </div>
                <div class="col-3">
                </div>
            </div>
            <div class="row" *ngFor="let produc of productos; let i = index">
                <div class="col-3" style="margin-top: 15px; margin-bottom: 20px;">
                    <b>{{produc.titulo}}</b>
                </div>
                <div class="col-4" style="margin-top: 15px; margin-bottom: 20px;">
                    {{produc.descripcion}}
                </div>
                <div class="col-2" style="margin-top: 15px; margin-bottom: 20px;">
                    {{produc.precio}}
                </div>
                <div class="col-3">
                    <button class="btn btn-warning" id="{{i}}" (click)="funcionBotones(i)">Editar</button>
                    <button class="btn btn-danger" (click)="onEliminarProducto(i);">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="box">
                <h4>Subir o editar promociones</h4><br>
                <div *ngIf="btnAgregar; then agregar else editar"></div>
                <ng-template #agregar>
                    <form class="item" #formularioAgregar="ngForm" (ngSubmit)="formularioAgregar.form.valid && onGuardarProducto() ; formularioAgregar.reset()">
                        <input type="text" name="titulo" placeholder="Titulo" [(ngModel)]="tituloInput" required/>
                        <textarea name="descripcion" placeholder="Descripcion" [(ngModel)]="descripcionInput" required cols="18" style="margin-bottom: 15px;">
                        </textarea>
                        <input type="number" name="precio" placeholder="Precio" [(ngModel)]="precioInput" required/>
                        <br>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>
                </ng-template>
                <ng-template #editar>
                    <form class="item" #formularioEditar="ngForm" (ngSubmit)="formularioEditar.form.valid && onEditarProducto(indexInput); formularioEditar.reset();">
                        <input type="number" name="indexInput" [(ngModel)]="indexInput" hidden>
                        <input type="text" name="titulo" placeholder="Titulo" [(ngModel)]="tituloInput" required/>
                        <textarea name="descripcion" placeholder="Descripcion" [(ngModel)]="descripcionInput" required cols="18" style="margin-bottom: 15px;">
                        </textarea>
                        <input type="number" name="precio" placeholder="Precio" [(ngModel)]="precioInput" required/>
                        <br>
                        <button type="submit" class="btn btn-primary">Editar</button>
                        <button class="btn btn-danger" style="margin-left: 10px;" (click)="btnAgregar=true;formularioEditar.reset();">Cancelar</button>
                    </form>

                </ng-template>
            </div>
        </div>
    </div>
</div>