<div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <div class="ae-grid au-pt-2">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
            <h4 class="ae-u-bolder">Barriguita Llena Corazon Contento</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse explicabo neque consectetur? Iste, illum magni quam nam, sequi dolorum repudiandae adipisci magnam quia qui nisi sint quidem perferendis distinctio aspernatur?</p>
        </div>
    </div>
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">Acerca de nosotros</h6>
            <p class="au-lh-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">Mision</h6>
            <p class="au-lh-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit explicabo fugit veniam. Dignissimos dolores repudiandae vitae repellendus possimus ut ducimus libero, nemo corrupti dolorem, a corporis quos at eius harum.</p>
        </div>
        <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">Vision</h6>
            <p class="au-lh-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam itaque labore necessitatibus saepe sint consectetur doloremque, iste vero sequi perspiciatis ut nemo nobis veritatis provident accusantium asperiores natus. Eligendi, provident?</p>
        </div>
    </div>
</div>