<div class="container">
    <form [formGroup]="registros" (submit)="login()">
        <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <input type="email" name="email" class="form-control" formControlName="email" />
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" name="password" formControlName="password" />
        </div>
        <button type="submit" class="btn btn-primary" style="cursor: pointer;">
        Iniciar Sesion
      </button>
    </form>
</div>