<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>Despacho pedidos</h1>
        </div>
    </div>
</div><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of pedidos; let i = index">
            <td>{{pedido.productos}}</td>
            <td>{{pedido.nombre}} {{pedido.apellido}}</td>
            <td>{{pedido.direccion}}</td>
            <td>{{pedido.telefono}}</td>
            <td>$ {{pedido.total}}</td>
            <td><button class="btn btn-outline-primary" (click)="onDespachar(i)">Despachar</button></td>
        </tr>
        <tr *ngIf="!pedidos" class="justify-content-center">
            <td>No hay pedidos por despachar</td>
        </tr>

    </tbody>
</table>